<div class="container">
<div class="row">
  <p>
    <a href="#header">Retournez en haut de la page</a> <span class="pull-right">Copyright &copy;2015, <a href="http://www.1001pharmacies.com/" title="Site de 1001Pharmacies">1001Pharmacies.com</a></span>
  </p>
</div>
</div>
<!-- /.container -->