<div class="header-top">
  <h1 class="text-center">1001Pharmacies, n°1 de la santé en ligne</h1>
</div>
<!-- /.container -->
<div class="header-mid container">
  <div class="row">
    <div class="col-sm-6">
      <p class="logo">
        <a href="/home" title="Revenir à l'accueil"><img src="/img/logo-large.png" alt="Logo 1001Pharmacies" />
        </a>
      </p>
    </div>
    <div class="col-sm-6">
      <div class="delivery-point">
        <span class="picto"><i class="fa fa-truck"></i></span>
        <span class="txt">Livraison à 3.95&euro; <br>en point retrait</span>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->

<div class="navbar navbar-default fixed-height container">

  <nav id="main-nav" class="main-nav">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand visible-xs" href="#">Menu</a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-collapse" aria-expanded="true" role="navigation">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a href="#"><i class="fa fa-home"></i>&nbsp;ACCUEIL</a>
        </li>
        <li class="nav-item"><a href="#">PARAPHARMACIE</a>
        </li>
        <li class="nav-item"><a href="#">MARQUES</a>
        </li>
        <li class="nav-item"><a href="#">RETRAIT EN PHARMCIE</a>
        </li>
        <li class="nav-item last inverse"><a href="#">BLOG</a>
        </li>
      </ul>

    </div>

  </nav>

</div>
<!-- navbar -->
