<div class="header-mid container">
  <div class="row">
    <div class="col-sm-6">
      <p class="logo">
        <a href="/home" title="Revenir à l'accueil"><img src="/img/logo-large.png" alt="Logo 1001Pharmacies" />
        </a>
      </p>
    </div>
    <div class="col-sm-6">
      <div class="delivery-point">
        <span class="picto"><i class="fa fa-truck"></i></span>
        <span class="txt">Livraison à 3.95&euro; <br>en point retrait</span>
      </div>
    </div>
  </div>
</div>
<!-- /container -->
